body {
    margin: 0;
}

html {
    padding: 0;
    font-size: 62.5%;
}

body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #24140e;
    text-align: center;
    background: #f8f4e6;
}

section a {
    color: #ffffff;
}

section a:hover {
    color: #ffffff;
}

h1 {
    font-size: 62px;
    margin-bottom: 20px;
    color: #24140e;
    letter-spacing: 0.03em;
}

h2 {
    font-size: 40px;
    letter-spacing: 0.06em;
}

#title {
    font-size: 16px;
    color: #24140e;
    padding-top: 80px;

}

#title a {
    color: #24140e;
}

#title a:hover {
    color: #24140e;
}

.inner {
    padding: 100px 0;
}

section {
    color: #fff;
    padding-bottom: 150px;
}

#skills {
    background-color: #4496d3;
}

#products {
    background-color: #e95388;
}

#outputs {
    background-color: #79c06e;
}

#career {
    background-color: #fac559;
}

section:after {
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 150px;
    position: absolute;
    width: 100%;
}

#skills:after {
    background: url("../svg/right_up_products.svg");
}

#products:after {
    background: url("../svg/right_down_outputs.svg");
}

#outputs:after {
    background: url("../svg/right_up_career.svg");
}

footer {
    margin: 20px 0;
}