* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.7 'Patua One', arial, helvetica, sans-serif;
    color: #594433;
    text-align: center;
    background: #f8f4e6;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

h1 {
    font-size: 62px;
    margin-bottom: 20px;
    color: #594433;
    letter-spacing: 0.03em;
}

h2 {
    font-size: 40px;
    letter-spacing: 0.06em;
}

#section-title {
    font-size: 16px;
    color: #594433;
    padding-top: 80px;
}

footer {
    padding-bottom: 60px;
}

.inner {
    padding: 100px 0;
}

section {
    color: #fff;
    padding-bottom: 150px;
}

#skills {
    background-color: #4496d3;
}

#products {
    background-color: #e95388;
}

#outputs {
    background-color: #79c06e;
}

#career {
    background-color: #fac559;
}

section:after {
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 150px;
    position: absolute;
    width: 100%;
}

#skills:after {
    background: url("../svg/right_up_products.svg");
}

#products:after {
    background: url("../svg/right_down_outputs.svg");
}

#outputs:after {
    background: url("../svg/right_up_career.svg");
}
